name: "Lint"
on:
  push:
    branches:
      - "*"
    tags-ignore:
      - "*"
  pull_request:
    branches:
      - master

jobs:
  plugin-lint:
    name: Buildkite Plugin Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.2.0
      - run: docker-compose run --rm plugin-lint
  lint:
    name: Lint bash and markdown
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.2.0
      - run: docker-compose run --rm lint --check
